.silder-man{
    height: 100vh;
    width: 213.7vh;
    background-color: red;
    display: flex;
}
.silder-one{
    height: 90vh;
    width: 80vh;
    background-color: white;
}
.silder-two{
    height: 90vh;
    width: 140vh;
    background-color: antiquewhite;
    margin-left: 2vh;
}
.silder-text h2{
   
}